#button{
 margin-left: 550px !important;
 margin-top: 50px !important;
}
@media screen  and (max-width:478px){
 #button{
  margin-left: 90px !important;
  margin-top: 50px !important;
  width: 50%;
 } 
}